@media only screen and (max-width:450px){

    /* Navbar Section  */
    .navbar{
        height: 9vh;
        position: relative;
    }

    .navbar .logo{
        padding-left: 1rem;
        padding-top: .6rem;
        padding-bottom: .6rem;
        padding-right: .1rem;
        width: 38%;
        font-size: 6.3vmin;
    }

    .navbar .logo img{
        width: 18%;
    }

    .navbar .login-signup{
        padding-right: .1rem;
        padding-top: .6rem;
        padding-bottom: .6rem;
        padding-left: .1rem;
        width: 35%;
    }

    .toggle {
        display: block;
    }

    .links-toggle {
        transition: 0.65s ease;
        margin-top: -990px;
        background-color: rgb(86, 125, 137);
        flex-direction: column;
        height: 30vh;
        width: 100%;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-size: 3.35vmin;
        /* justify-content: center; */
    }

    .links-toggle li{
        color: whitesmoke;
    }

    .toggle-switch {
        margin-top: 17.2rem;
    }

    .navbar .login-signup .signup{
        padding: 0.5rem 0.3rem;
        font-size: 2.75vmin;
    }

    .notes-section .notes-mid{
        justify-content: space-between;
        width: 95%;
    }

    .math img, .pgp img, .eca img, .ae img, .em img, .tc img, .ef img, .bio img, .me img, .emi img, .em2 img, .pe img, .ss img{
        height: 60%;
    }

    .notes-section .notes-mid .math{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .pgp{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .eca{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .ae{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .em{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .tc{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .ef{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .bio{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .me{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .emi{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .em2{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .pe{
        width: 38%;
        height: 45vh;
    }
    .notes-section .notes-mid .ss{
        width: 38%;
        height: 45vh;
    }

    .main-section .math-h, .main-section .pgp-h, .main-section .eca-h, .main-section .ae-h, .main-section .em-h,
    .main-section .tc-h, .main-section .ef-h, .main-section .bio-h, .main-section .me-h, .main-section .emi-h,
    .main-section .em2-h, .main-section .pe-h, .main-section .ss-h{
        width: 90%;
    }

    .main-section .math-h a{
        padding: 0.3rem 0.3rem;
        border-radius: .2rem;
    }

    .top img{
        /* width: 55%; */
        height: 5vh;
    }
    
    #move-top:hover p{
        /* transform: scale(.5); */
        font-size: 2.5vmin;
    }
}